# header set x-frame-options SAMEORIGIN


Options -Indexes

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [R=301,L]

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

RewriteRule ^index\.html$ / [R=301,L]



ErrorDocument 404 https://fortniteprogress.com/404

ErrorDocument 403 https://fortniteprogress.com/404